0th (Cantrips)/
1st (Cleric)/
1st (Cleric, Domain)/
1st (Cleric, Ritual)/
1st (Sorcerer)/
2nd (Sorcerer)/
3rd (Sorcerer)/
4th (Sorcerer)/
5th (Sorcerer)/
6th (Sorcerer)/
7th (Sorcerer)/
8th (Sorcerer)/
9th (Sorcerer)/
Rules/
Cael Stormcrow Player Handout.md
Character Backstory (GM).md
Character Backstory.md
Character Sheet.md
Concept.md
Quick Reference.md
cael.pdf

# Editor temp files
*.tmp.*
*.tmp
